.visual-refresh {
  /* set backdrop filter */
  ._5e434347c823b592-guilds /* server list */, 
	._5e434347c823b592-sidebarList /* channel list (includes dm list) */,
	._5e434347c823b592-sidebarListRounded,
	._5e434347c823b592-panels /* user panel */,
	.f75fb00fb7356cbe-chat, /* chat */
	.f75fb00fb7356cbe-chat > .f75fb00fb7356cbe-subtitleContainer /* chat titlebar */,
	.f75fb00fb7356cbe-chatContent /* chat content */,
	.c8ffbb79449f399c-container /* member list */,
	.f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap /* forum post member list */,
	._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container /* friends titlebar */,
	.f391e3680aff100a-container > ._9293f6b2fc12398a-container /* message requests titlebar */,
	._0920e02cc8fc7b7b-homeWrapper > ._9293f6b2fc12398a-container /* nitro page titlebar */,
	._01ae244280823725-container > ._9293f6b2fc12398a-container /* vc chat titlebar */,
	.fb64c9a451c49797-container > ._9293f6b2fc12398a-container /* new thread panel */,
	._133bf5eea8e33a34-peopleColumn /* online friends */,
	._133bf5eea8e33a34-nowPlayingColumn /* active now */,
	.c880e89226639033-scroller /* nitro page */,
	.f391e3680aff100a-container > .f75fb00fb7356cbe-content /* message requests */,
	._6db1d32c47b6ad72-shop /* shop */,
	.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer /* dm user panel */,
	.a9e7064fdee8e9b0-searchResultsWrap /* search results */,
	.f369dba7416c67f0-container /* forum */,
	.fb64c9a451c49797-chat /* new thread panel */,
	.a592e1970a0ce22c-container /* server discovery */,
	.cb9592ad77576717-callContainer /* vc container */,
    ._5dec784a68542d60-panel /* streaming container */,
	.cb9592ad77576717-wrapper.cb9592ad77576717-sidebarOpen .cb9592ad77576717-callContainer /* vc container when chat open */,
	._722ffae0e1be2672-callContainer /* stage */,
    .f75fb00fb7356cbe-chat > .c791b281f2fedc32-header /* server members header */,
    .f75fb00fb7356cbe-chat > .d125d22cdfd32cfe-scrollerBase /* server members page */,
    .f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-header  /* server channels and roles header */,
    .f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-container /* server channels and roles page */, 
	.f75fb00fb7356cbe-content /* main content */,
	.f369dba7416c67f0-mainCard /* forum items */,
	#vc-spotify-player /* spotify player */,
	._01ae244280823725-container /* forum/thread chat */,
	.e6b7699ce8339e1c-sectionDivider /* resize section dividers to correct size */,
	.f75fb00fb7356cbe-channelBottomBarArea /* chatbar */,
    ._409aa1aeee28d5f7-sidebar /* settings sidebar */ {
    backdrop-filter: var(--panel-backdrop-filter) !important;
  }
}
