.visual-refresh {
	/* set backdrop filter */

	/*.guilds__5e434,
	.sidebarList__5e434,
	.sidebarListRounded__5e434,
	.panels__5e434,
	.chat_f75fb0,
	.chat_f75fb0>.subtitleContainer_f75fb0,
	.chatContent_f75fb0,
	.container_c8ffbb,
	.content_f75fb0>.membersWrap_c8ffbb,
	.container__133bf>.container__9293f,
	.container_f391e>.container__9293f,
	.homeWrapper__0920e>.container__9293f,
	.container__01ae2>.container__9293f,
	.container_fb64c9>.container__9293f,
	.peopleColumn__133bf,
	.nowPlayingColumn__133bf,
	.scroller_c880e8,
	.container_f391e>.content_f75fb0,
	.shop__6db1d,
	.content_f75fb0>aside>.outer_c0bea0,
	.searchResultsWrap_a9e706,
	.container_f369db,
	.chat_fb64c9,
	.container_a592e1,
	.callContainer_cb9592,
	.panel__5dec7,
	.wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592,
	.callContainer__722ff,
	.chat_f75fb0>.header_c791b,
	.chat_f75fb0>.scrollerBase_d125d2,
	.chat_f75fb0>.header__0b563,
	.chat_f75fb0>.container__0b563,
	.content_f75fb0,
	.mainCard_f369db,
	#vc-spotify-player,
	.container__01ae2,
	.sectionDivider_e6b769,
	.channelBottomBarArea_f75fb0,
	.sidebar__409aa {
		backdrop-filter: var(--panel-backdrop-filter) !important;
	}*/

	.chatTypingGradientNotAtBottom__36d07 {
		display: none !important;
	}
}