.visual-refresh {

  /* set background none */
  .container__2637a,
  .clickable_f37cb1,
  .header_f37cb1,
  .container__133bf,
  .page__5e434,
  title_.f75fb0,
  .members_c8ffbb,
  .member_c8ffbb,
  .privateChannels_e6b769,
  .scroller__99e7c,
  .tabBody__133bf,
  .container__7d20c,
  .homeWrapper__0920e,
  .applicationStore_f07d62,
  div[class="uploadArea_f75fb0 uploadArea_dbca3c"]+div[class^=wrapper_cb9592],
  .container__01ae2,
  .channelChatWrapper_cb9592,
  .container_fb64c9,
  .standardSidebarView__23e6b,
  .contentRegion__23e6b,
  .sidebarRegionScroller__23e6b,
  .contentRegionScroller__23e6b,
  .wrapper_cdf8a9,
  .wrapper_cdf8a9>.wrapper_fc8177,
  .themedBackground__74017,
  .root__24502,
  .winButton_c38106 {
    background: none !important;
  }

  /* set background transparent */
  .resizeHandle__01ae2,
  .app__160d8,
  #app-mount,
  body {
    background: transparent;
  }

  /* set background base lower */
  .guilds__5e434,
  .sidebarList__5e434,
  .sidebarListRounded__5e434,
  .panels__5e434,
  .chat_f75fb0,
  .chat_f75fb0>.subtitleContainer_f75fb0,
  .chatContent_f75fb0,
  .container_c8ffbb,
  .content_f75fb0>.membersWrap_c8ffbb,
  .container__133bf>.container__9293f,
  .container_f391e>.container__9293f,
  .homeWrapper__0920e>.container__9293f,
  .container__01ae2>.container__9293f,
  .container_fb64c9>.container__9293f,
  .peopleColumn__133bf,
  .nowPlayingColumn__133bf,
  .scroller_c880e8,
  .container_f391e>.content_f75fb0,
  .shop__6db1d,
  .content_f75fb0>aside>.outer_c0bea0,
  .searchResultsWrap_a9e706,
  .container_f369db,
  .chat_fb64c9,
  .container_a592e1,
  .callContainer_cb9592,
  .panel__5dec7,
  .wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592,
  .callContainer__722ff,
  .chat_f75fb0>.header_c791b,
  .chat_f75fb0>.scrollerBase_d125d2,
  .chat_f75fb0>.header__0b563,
  .chat_f75fb0>.container__0b563,
  .content_f75fb0,
  .mainCard_f369db,
  #vc-spotify-player,
  .container__01ae2,
  .sectionDivider_e6b769,
  .channelBottomBarArea_f75fb0,
  .backdrop__8a7fc {
    background-color: var(--background-base-lower) !important;
  }

  /* set background chat background default */
  .base_b88801 {
    background-color: var(--chat-background-default) !important;
  }

  /* set background modifier selected */
  .selected__6e9f8:hover {
    background-color: var(--background-modifier-selected) !important;
  }

  /* set message popup background */
  .wrapper_f7ecac {
    background-color: var(--background-surface-highest);
  }

  /* set message hover background */
  .message__5126c:hover {
    background: var(--message-background-hover);
  }
}