.visual-refresh {

  /* border none */
  .container__01ae2 {
    border: none;
  }

  /* border top */
  .panels__5e434,
  .channelBottomBarArea_f75fb0,
  .tree_ef3116 {
    border-top: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border top none */
  .channelTextArea__74017,
  .channelTextArea__74017:focus-within {
    border-top: none !important;
  }

  /* border right */
  .sidebarList__5e434,
  .panels__5e434 {
    border-right: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border right none */
  .channelTextArea__74017,
  .channelTextArea__74017:focus-within,
  .wrapper__44df5 {
    border-right: none !important;
  }

  /* border bottom */
  .container_e131a9 {
    border-bottom: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border bottom none */
  .panels__5e434,
  .channelTextArea__74017,
  .channelTextArea__74017:focus-within,
  .wrapper__44df5,
  .sidebar__5e434 {
    border-bottom: none !important;
  }

  /* border left */
  .panels__5e434,
  .members_c8ffbb,
  .content_f75fb0>aside {
    border-left: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border left none */
  .channelTextArea__74017,
  .channelTextArea__74017:focus-within,
  .container_c8ffbb,
  .wrapper__44df5 {
    border-left: none !important;
  }
}