.visual-refresh {
  /* border none */
  ._01ae244280823725-container /* vc chat + titlebar group */ {
    border: none;
  }

  /* border top */
  ._5e434347c823b592-panels /* user panel */,
	.f75fb00fb7356cbe-channelBottomBarArea /* chatbar */,
    .ef3116c2da186559-tree /* server nav bar */ {
    border-top: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border top none */
  ._740174f3d6a2c8fe-channelTextArea,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/ {
    border-top: none !important;
  }

  /* border right */
  ._5e434347c823b592-sidebarList /* dm and channel list */,
	._5e434347c823b592-panels /* user panel */ {
    border-right: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border right none */
  ._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */ {
    border-right: none !important;
  }

  /* border bottom */
  .e131a99484292a19-container /* vc container */ {
    border-bottom: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border bottom none */
  ._5e434347c823b592-panels /* user panel */,
	._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */,
    ._5e434347c823b592-sidebar /* server list + channel list + user panel group */ {
    border-bottom: none !important;
  }

  /* border left */
  ._5e434347c823b592-panels /* user panel */,
	.c8ffbb79449f399c-members /* thread members list */,
    .f75fb00fb7356cbe-content > aside /* dm user panel */ {
    border-left: var(--app-border-width) solid var(--app-frame-border) !important;
  }

  /* border left none */
  ._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
	.c8ffbb79449f399c-container /* members list */,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */ {
    border-left: none !important;
  }
}
