/**
 * @name Halcyon
 * @description Restored Discord's original theme with unrounding
 * @author ilothepyro
 * @version 2.0.0
 * @authorId 669543832588779520
*/

/* updates automatically */
@import url("");

/* root.css */
@use "root";

/* settings.css */
@use "settings";
