.visual-refresh {
  /* server sidebar */
  ._5e434347c823b592-panels {
    margin: 0;
  }

  .ef3116c2da186559-wrapper {
    margin-bottom: 0;
  }

  ._37e49614b9f110a9-container {
    height: var(--userpanel-height);
  }

  ._37e49614b9f110a9-avatarWrapper {
    margin: 0px 0px 0px
      calc(0px - var(--space-8) - (var(--app-border-width) * 2));
    padding: var(--space-8) 0px var(--space-8) var(--space-8);
  }

  .e131a99484292a19-connection {
    height: auto !important;
  }

  ._5e434347c823b592-sidebar /* server list + channel list + user panel group */ {
    margin: 0;
  }

  /* server list */
  ._5e434347c823b592-guilds {
    margin-bottom: 0;
  }

  /* server list inner scroller */
  .ef3116c2da186559-scroller {
    padding-top: var(--custom-guild-list-padding);
  }

  /* channel list inner */
  ._2637a2609f343032-container {
    padding-bottom: 0;
  }

  /* fix discord's idiotic server banners */
  .f37cb1984c371ee5-bannerImage,
  .f37cb1984c371ee5-bannerImg {
    width: 100%;
  }
  .f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-headerEllipseBackdrop {
    display: none;
  }
  .f37cb1984c371ee5-headerGlass {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }

  /* server list + channel list bottom shadow */
  ._5e434347c823b592-sidebar:after {
    display: none;
  }

  /* friends page group outer */
  ._5e434347c823b592-page > .f75fb00fb7356cbe-chat,
  ._5e434347c823b592-page > ._133bf5eea8e33a34-container {
    padding: 0;
  }
  ._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container {
    height: var(--friends-title-bar-height) !important;
  }

  /* friends, message requests, + other stuff titlebar */
  ._9293f6b2fc12398a-container {
    height: var(--custom-channel-header-height) !important;
  }

  /* chat titlebar inner */
  .f75fb00fb7356cbe-title {
    margin-bottom: 0;
  }

  /* chat */
  .f75fb00fb7356cbe-chatContent {
    overflow: hidden;
  }

  /* member list */
  .c8ffbb79449f399c-container {
    overflow: hidden;
    height: auto;
    min-width: var(--custom-member-list-width);
  }

  /* forum post member list */
  .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap {
    overflow: hidden;
    height: auto;
  }

  ._01ae244280823725-resizeHandle /* resize handle */ {
    background: transparent;
  }

  /* dm list, dm list inner, and channel list */
  .e6b7699ce8339e1c-privateChannels,
  ._99e7cad8d4c55236-scroller,
  ._629e4c86564a4ee7-scroller {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* shop */
  ._6db1d32c47b6ad72-shop {
    overflow: hidden;
    height: auto;
  }

  /* shop inner scroller */
  ._084152b107f71237-shop {
    margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
  }

  /* dm user panel */
  .f75fb00fb7356cbe-content
    > aside
    > .c0bea05627c5dc35-outer
    > .c0bea05627c5dc35-inner
    > ._7f9c030b25536e94-footer {
    height: var(--dm-user-profile-footer-height);
  }
  .f75fb00fb7356cbe-content
    > aside
    > .c0bea05627c5dc35-outer
    > .c0bea05627c5dc35-inner
    > ._7f9c030b25536e94-footerButton {
    height: 100%;
  }

  /* dm and server finder */
  .e6b7699ce8339e1c-searchBar {
    padding: var(--space-xs) var(--space-xs) !important;
  }

  /* dm and server finder button */
  .e6b7699ce8339e1c-searchBar > button {
    height: 100% !important;
  }

  /* notice banner */
  ._6e2b9359c6f84cfd-notice {
    margin: 0;
  }

  /* vc container */
  .cb9592ad77576717-callContainer {
    overflow: hidden;
  }

  /* vc chat shadow */
  .a44415a3320e67de-chat::before {
    display: none;
  }

  /* forum/thread chat outer */
  ._5e434347c823b592-page > div > ._01ae244280823725-chatLayerWrapper {
    margin: 0 !important;
    height: 100% !important;
  }

  /* forum/thread chat */
  ._01ae244280823725-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* new thread panel chat shadow */
  .fb64c9a451c49797-chat::before {
    display: none;
  }

  /* server discovery */
  .a592e1970a0ce22c-container {
    overflow: hidden;
  }

  /* unread messages bar */
  ._0f481cbbd7530492-newMessagesBar {
    top: 12px;
    left: 12px;
    right: 12px;
    padding: 0 8px;
  }

  /* channel list non-community unread pill */
  ._629e4c86564a4ee7-unreadBottom {
    bottom: calc(var(--space-8));
  }

  ._7aaec78b97ff00f7-bottom /* channel list new unreads pill */ {
    bottom: 0;
  }

  .ef3116c2da186559-unreadMentionsIndicatorBottom /* server list new pill */,
    .ef3116c2da186559-unreadMentionsIndicatorTop {
    width: calc(
      var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2
    );
    padding: calc(var(--custom-guild-list-padding) / 2);
  }

  ._0923f156a0410684-attachWrapper {
    padding: var(--space-8) calc(var(--space-md) - 6px) !important;
  }

  /* get rid of extra space in treatment 2 */
  ._740174f3d6a2c8fe-accessoryBar {
    padding-top: 0;
  }

  /* actual typing area */
  .ec4baf0360ff3578-slateTextArea {
    margin-left: 2px;
  }

  /* improve unread divider */
  ._908e20001ad67812-endCap {
    margin-top: calc(var(--divider-thickness) / -2);
  }
  ._908e20001ad67812-divider ._908e20001ad67812-content {
    margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
  }

  /* improve highlight message left edge */
  ._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned::before,
  ._5126c0cd07f243a0-replying::before,
  ._5126c0cd07f243a0-ephemeral::before {
    width: var(--divider-thickness);
    left: calc(var(--divider-thickness) / -2 + 1px);
  }

  /* improve server selected marker */
  .e5445cbd3ad226f2-pill._581051df43c5ebb6-wrapper {
    width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
  }
  ._581051df43c5ebb6-item {
    width: 4px;
    margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
  }

  /* move top bar title */
  .c38106a3f0c3ca76-title {
    padding-left: calc(1px + var(--gap));
    justify-content: flex-start;
  }

  .edbb22df99c39831-title {
    gap: 4px;
  }

  /* remove help button */
  .c38106a3f0c3ca76-trailing > a[href="https://support.discord.com"] {
    display: none;
  }

  /* resize section dividers to correct size */
  .e6b7699ce8339e1c-sectionDivider {
    box-shadow: none !important;
    width: 100%;
    height: 0px !important;
    margin: var(--space-12) var(--space-8);
  }

  /* fix announcement follow prompt */
  .f75fb00fb7356cbe-form:has(._44df51b030bd5ece-wrapper) {
    padding-inline: 0px;
  }

  ._44df51b030bd5ece-wrapper {
    margin-bottom: 0px;
    height: var(--announcementChannelFollowPrompt-height);
  }

  #app-mount {
    --panel-backdrop-filter: blur(var(--blur-amount));
  }

  ._0f481cbbd7530492-bottomBar {
    padding: 6px;
    margin-bottom: 40px !important;
  }

  ._0f481cbbd7530492-jumpToPresentBar > .a22cb0c66246f5d3-button {
    height: 26px !important;
  }
}

[class*="scroll"] {
  will-change: scroll-position;
}

._23977d5b7cef7361-burstGlow {
  display: none;
}

/* Hides Store and Shop button */
[href="/store"],
[href="/shop"] {
  display: none;
}
