.visual-refresh {

  /* server sidebar */
  .panels__5e434 {
    margin: 0;
  }

  .wrapper_ef3116 {
    margin-bottom: 0;
  }

  .container__37e49 {
    height: var(--userpanel-height);
  }

  .avatarWrapper__37e49 {
    margin: 0px 0px 0px calc(0px - var(--space-8) - var(--app-border-width) * 2);
    padding: var(--space-8) 0px var(--space-8) var(--space-8);
  }

  .connection_e131a9 {
    height: auto !important;
  }

  .sidebar__5e434 {
    margin: 0;
  }

  /* server list */
  .guilds__5e434 {
    margin-bottom: 0;
  }

  /* server list inner scroller */
  .scroller_ef3116 {
    padding-top: var(--custom-guild-list-padding);
  }

  /* channel list inner */
  .container__2637a {
    padding-bottom: 0;
  }

  /* fix discord's idiotic server banners */
  .bannerImage_f37cb1,
  .bannerImg_f37cb1 {
    width: 100%;
  }

  .bannerVisible_f37cb1 headerEllipseBackdrop_f37cb1 {
    display: none;
  }

  .headerGlass_f37cb1 {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }

  /* server list + channel list bottom shadow */
  .sidebar__5e434:after {
    display: none;
  }

  /* friends page group outer */
  .page__5e434>.chat_f75fb0,
  .page__5e434>.container__133bf {
    padding: 0;
  }

  .container__133bf>.container__9293f {
    height: var(--friends-title-bar-height) !important;
  }

  /* friends, message requests, + other stuff titlebar */
  .container__9293f {
    height: var(--custom-channel-header-height) !important;
  }

  /* chat titlebar inner */
  title_.f75fb0 {
    margin-bottom: 0;
  }

  /* chat */
  .chatContent_f75fb0 {
    overflow: hidden;
  }

  /* member list */
  .container_c8ffbb {
    overflow: hidden;
    height: auto;
    min-width: var(--custom-member-list-width);
  }

  /* forum post member list */
  .content_f75fb0>.membersWrap_c8ffbb {
    overflow: hidden;
    height: auto;
  }

  .resizeHandle__01ae2 {
    background: transparent;
  }

  /* dm list, dm list inner, and channel list */
  .privateChannels_e6b769,
  .scroller__99e7c,
  .scroller__629e4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* shop */
  .shop__6db1d {
    overflow: hidden;
    height: auto;
  }

  /* shop inner scroller */
  .shop__08415 {
    margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
  }

  /* dm user panel */
  .content_f75fb0>aside>.outer_c0bea0>.inner_c0bea0>.footer__7f9c0 {
    height: var(--dm-user-profile-footer-height);
  }

  .content_f75fb0>aside>.outer_c0bea0>.inner_c0bea0>.footerButton__7f9c0 {
    height: 100%;
  }

  /* dm and server finder */
  .searchBar_e6b769 {
    padding: var(--space-xs) var(--space-xs) !important;
  }

  /* dm and server finder button */
  .searchBar_e6b769>button {
    height: 100% !important;
  }

  /* notice banner */
  .notice__6e2b93 {
    margin: 0;
  }

  /* vc container */
  .callContainer_cb9592 {
    overflow: hidden;
  }

  /* vc chat shadow */
  .chat_a44415::before {
    display: none;
  }

  /* forum/thread chat outer */
  .page__5e434>div>.chatLayerWrapper__01ae2 {
    margin: 0 !important;
    height: 100% !important;
  }

  /* forum/thread chat */
  .container__01ae2 {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* new thread panel chat shadow */
  .chat_fb64c9::before {
    display: none;
  }

  /* server discovery */
  .container_a592e1 {
    overflow: hidden;
  }

  /* unread messages bar */
  .newMessagesBar__0f481 {
    top: 12px;
    left: 12px;
    right: 12px;
    padding: 0 8px;
  }

  /* channel list non-community unread pill */
  .unreadBottom__629e4 {
    bottom: calc(var(--space-8));
  }

  .bottom__7aaec {
    bottom: 0;
  }

  .unreadMentionsIndicatorBottom_ef3116,
  .unreadMentionsIndicatorTop_ef3116 {
    width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
    padding: calc(var(--custom-guild-list-padding) / 2);
  }

  .attachWrapper__0923f {
    padding: var(--space-8) calc(var(--space-md) - 6px) !important;
  }

  /* get rid of extra space in treatment 2 */
  .accessoryBar__74017 {
    padding-top: 0;
  }

  /* actual typing area */
  .slateTextArea_ec4baf {
    margin-left: 2px;
  }

  /* improve unread divider */
  .endCap__908e2 {
    margin-top: calc(var(--divider-thickness) / -2);
  }

  .divider__908e2 .content__908e2 {
    margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
  }

  /* improve highlight message left edge */
  .message__5126c.mentioned__5126c::before,
  .replying__5126c::before,
  .ephemeral__5126c::before {
    width: var(--divider-thickness);
    left: calc(var(--divider-thickness) / -2 + 1px);
  }

  /* improve server selected marker */
  .pill_e5445c.wrapper__58105 {
    width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
  }

  .item__58105 {
    width: 4px;
    margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
  }

  /* move top bar title */
  .title_c38106 {
    padding-left: calc(1px + var(--gap));
    justify-content: flex-start;
  }

  .title_edbb22 {
    gap: 4px;
  }

  /* remove help button */
  .trailing_c38106>a[href="https://support.discord.com"] {
    display: none;
  }

  /* resize section dividers to correct size */
  .sectionDivider_e6b769 {
    box-shadow: none !important;
    width: 100%;
    height: 0px !important;
    margin: var(--space-12) var(--space-8);
  }

  /* fix announcement follow prompt */
  .form_f75fb0:has(.wrapper__44df5) {
    padding-inline: 0px;
  }

  .wrapper__44df5 {
    margin-bottom: 0px;
    height: var(--announcementChannelFollowPrompt-height);
  }

  #app-mount {
    --panel-backdrop-filter: blur(var(--blur-amount));
  }

  .bottomBar__0f481 {
    padding: 6px;
    margin-bottom: 40px !important;
  }

  .jumpToPresentBar__0f481>.button_a22cb0 {
    height: 26px !important;
  }
}

[class*=scroll] {
  will-change: scroll-position;
}

.burstGlow__23977 {
  display: none;
}

/* Hides Store and Shop button */
[href="/store"],
[href="/shop"] {
  display: none;
}