/**
 * @name Halcyon
 * @description Restored Discord's original theme with unrounding
 * @author ilothepyro
 * @version 2.0.0
 * @authorId 669543832588779520
*/

/* updates automatically */
@import url("");

/* old discord font */
@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.css);

:root {
  container-name: root;
  --custom-guild-list-padding: 12px;
  --panel-backdrop-filter: none;
  --custom-channel-header-height: calc(
    var(--guildbar-avatar-size) + var(--space-xs)
  );
}
